![title](amex.jpg)

# AmExpert 2019 – Machine Learning Hackathon


## Introduction
American Express and Analytics Vidhya presents “AmExpert 2019 – Machine Learning Hackathon”. An amazing opportunity to showcase your analytical abilities and talent.

Get a taste of the kind of challenges we face here at American Express on day to day basis.

Exciting prizes up for grabs! Best performers also get a chance to get interviewed by American Express for analytics roles!

Don’t hold on to the buzzing ideas in your mind. Just wear your thinking hats and display the spectrum of your creativity!


# Problem Statement

## Predicting Coupon Redemption

XYZ Credit Card company regularly helps it’s merchants understand their data better and take key business decisions accurately by providing machine learning and analytics consulting. ABC is an established Brick & Mortar retailer that frequently conducts marketing campaigns for its diverse product range. As a merchant of XYZ, they have sought XYZ to assist them in their discount marketing process using the power of machine learning. Can you wear the AmExpert hat and help out ABC?

 
Discount marketing and coupon usage are very widely used promotional techniques to attract new customers and to retain & reinforce loyalty of existing customers. The measurement of a consumer’s propensity towards coupon usage and the prediction of the redemption behaviour are crucial parameters in assessing the effectiveness of a marketing campaign.

 
ABC’s promotions are shared across various channels including email, notifications, etc. A number of these campaigns include coupon discounts that are offered for a specific product/range of products. The retailer would like the ability to predict whether customers redeem the coupons received across channels, which will enable the retailer’s marketing team to accurately design coupon construct, and develop more precise and targeted marketing strategies.

 
The data available in this problem contains the following information, including the details of a sample of campaigns and coupons used in previous campaigns -

**User Demographic Details**

**Campaign and coupon Details**

**Product details**

**Previous transactions**


Based on previous transaction & performance data from the last 18 campaigns, predict the probability for the next 10 campaigns in the test set for each coupon and customer combination, whether the customer will redeem the coupon or not?

 

### Dataset Description

Here is the schema for the different data tables available. The detailed data dictionary is provided next.

![title](amex19.png)

You are provided with the following files in train.zip:

**train.csv:** Train data containing the coupons offered to the given customers under the 18 campaigns

|Variable |Definition |
|----|----|
|id	|Unique id for coupon customer impression|
|campaign_id	|Unique id for a discount campaign|
|coupon_id	|Unique id for a discount coupon|
|customer_id	|Unique id for a customer|
|redemption_status|	(target) (0 - Coupon not redeemed, 1 - Coupon redeemed) |


**campaign_data.csv:** Campaign information for each of the 28 campaigns

|Variable|	Definition|
|----|----|
|campaign_id	|Unique id for a discount campaign|
|campaign_type	|Anonymised Campaign Type (X/Y)|
|start_date	|Campaign Start Date|
|end_date	|Campaign End Date |


**coupon_item_mapping.csv:** Mapping of coupon and items valid for discount under that coupon

|Variable|	Definition|
|----|----|
|coupon_id	|Unique id for a discount coupon (no order)|
|item_id	|Unique id for items for which given coupon is valid (no order) |


**customer_demographics.csv:** Customer demographic information for some customers

|Variable	|Definition|
|----|----|
|customer_id	|Unique id for a customer|
|age_range	|Age range of customer family in years|
|marital_status|	Married/Single|
|rented|	0 - not rented accommodation, 1 - rented accommodation|
|family_size|	Number of family members|
|no_of_children	|Number of children in the family|
|income_bracket|	Label Encoded Income Bracket (Higher income corresponds to higher number) |


**customer_transaction_data.csv:** Transaction data for all customers for duration of campaigns in the train data

|Variable	|Definition|
|----|----|
|date	|Date of Transaction|
|customer_id|Unique id for a customer|
|item_id|	Unique id for item|
|quantity	|quantity of item bought|
|selling_price	|Sales value of the transaction|
|other_discount|	Discount from other sources such as manufacturer coupon/loyalty card|
|coupon_discount|	Discount availed from retailer coupon |


**item_data.csv:** Item information for each item sold by the retailer

|Variable|	Definition|
|----|----|
|item_id|	Unique id for itemv
|brand	|Unique id for item brand|
|brand_type	|Brand Type (local/Established)|
|category	|Item Category |


**test.csv:** Contains the coupon customer combination for which redemption status is to be predicted

|Variable|	Definition|
|----|----|
|id	|Unique id for coupon customer impression|
|campaign_id	|Unique id for a discount campaign|
|coupon_id	|Unique id for a discount coupon|
|customer_id	|Unique id for a customer |

*Campaign, coupon and customer data for test set is also contained in train.zip *

**sample_submission.csv:** This file contains the format in which you have to submit your predictions.

To summarise the entire process:

* Customers receive coupons under various campaigns and may choose to redeem it.
* They can redeem the given coupon for any valid product for that coupon as per coupon item mapping within the duration between campaign start date and end date
* Next, the customer will redeem the coupon for an item at the retailer store and that will reflect in the transaction table in the column coupon_discount.
 
### Evaluation Metric
Submissions are evaluated on area under the ROC curve between the predicted probability and the observed target.
 

### Public and Private Split
* Test data is further randomly divided into Public (40%) and Private data (60%)
* Your initial responses will be checked and scored on the Public data.
* The final rankings would be based on your private score which will be published once the competition is over.

## Importing Datasets

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/amexpert/campaign_data.csv
/kaggle/input/amexpert/test_QyjYwdj.csv
/kaggle/input/amexpert/coupon_item_mapping.csv
/kaggle/input/amexpert/item_data.csv
/kaggle/input/amexpert/train.csv
/kaggle/input/amexpert/customer_transaction_data.csv
/kaggle/input/amexpert/customer_demographics.csv
/kaggle/input/amexpert/sample_submission_Byiv0dS.csv

In [2]:
train=pd.read_csv('/kaggle/input/amexpert/train.csv')
s=pd.read_csv('/kaggle/input/amexpert/sample_submission_Byiv0dS.csv')
coup_item=pd.read_csv('/kaggle/input/amexpert/coupon_item_mapping.csv')
test=pd.read_csv('/kaggle/input/amexpert/test_QyjYwdj.csv')
comp=pd.read_csv('/kaggle/input/amexpert/campaign_data.csv')
tran=pd.read_csv('/kaggle/input/amexpert/customer_transaction_data.csv')
demo=pd.read_csv('/kaggle/input/amexpert/customer_demographics.csv')  # Didnt use due to so many null values
item=pd.read_csv('/kaggle/input/amexpert/item_data.csv')
print(train.shape,test.shape,coup_item.shape,comp.shape,tran.shape,demo.shape,item.shape)

(78369, 5) (50226, 4) (92663, 2) (28, 4) (1324566, 7) (760, 7) (74066, 4)

In [3]:
train.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [4]:
print(train.shape)
train.redemption_status.value_counts()

(78369, 5)

0    77640
1      729
Name: redemption_status, dtype: int64

In [5]:
print(comp.shape)
comp.head()

(28, 4)

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

## Train + Test

In [6]:
df=train.append(test,ignore_index=True)
df.head()

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

   campaign_id  coupon_id  customer_id  id  redemption_status
0           13         27         1053   1                0.0
1           13        116           48   2                0.0
2            9        635          205   6                0.0
3           13        644         1050   7                0.0
4            8       1017         1489   9                0.0

## Campaign Data - Feat Engg

In [7]:
comp['start_date']=pd.to_datetime(comp['start_date'],format='%d/%m/%y',dayfirst=True)
comp['end_date']=pd.to_datetime(comp['end_date'],format='%d/%m/%y',dayfirst=True)

# comp['start_date_d']=comp['start_date'].dt.day.astype('category')
# comp['start_date_m']=comp['start_date'].dt.month.astype('category')
# comp['start_date_y']=comp['start_date'].dt.year.astype('category')
# comp['start_date_w']=comp['start_date'].dt.week.astype('category')


# comp['end_date_d']=comp['end_date'].dt.day.astype('category')
# comp['end_date_m']=comp['end_date'].dt.month.astype('category')
# comp['end_date_y']=comp['end_date'].dt.year.astype('category')
# comp['end_date_w']=comp['end_date'].dt.week.astype('category')


comp['diff_d']=(comp['end_date']-comp['start_date'])/np.timedelta64(1,'D')
comp['diff_m']=(comp['end_date']-comp['start_date'])/np.timedelta64(1,'M')
comp['diff_w']=(comp['end_date']-comp['start_date'])/np.timedelta64(1,'W')

# comp.drop(['start_date','end_date'],axis=1,inplace=True)

In [8]:
comp.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
campaign_id,28,NaN,NaN,NaN,NaT,NaT,15.5714,9.11827,1,7.75,16.5,23.25,30
campaign_type,28,2,Y,22,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_date,28,25,2013-04-22 00:00:00,2,2012-08-12,2013-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_date,28,26,2013-10-18 00:00:00,2,2012-09-21,2013-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diff_d,28,NaN,NaN,NaN,NaT,NaT,41.8571,11.9589,32,32,35.5,49.25,70
diff_m,28,NaN,NaN,NaN,NaT,NaT,1.37521,0.392909,1.05136,1.05136,1.16635,1.6181,2.29984
diff_w,28,NaN,NaN,NaN,NaT,NaT,5.97959,1.70842,4.57143,4.57143,5.07143,7.03571,10

In [9]:
comp.head()

,campaign_id,campaign_type,start_date,end_date,diff_d,diff_m,diff_w
0,24,Y,2013-10-21,2013-12-20,60.0,1.971293,8.571429
1,25,Y,2013-10-21,2013-11-22,32.0,1.051356,4.571429
2,20,Y,2013-09-07,2013-11-16,70.0,2.299842,10.000000
3,23,Y,2013-10-08,2013-11-15,38.0,1.248486,5.428571
4,21,Y,2013-09-16,2013-10-18,32.0,1.051356,4.571429

In [10]:
df=df.merge(comp,on='campaign_id',how='left')
df.head()

,campaign_id,coupon_id,customer_id,id,redemption_status,campaign_type,start_date,end_date,diff_d,diff_m,diff_w
0,13,27,1053,1,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
1,13,116,48,2,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
2,9,635,205,6,0.0,Y,2013-03-11,2013-04-12,32.0,1.051356,4.571429
3,13,644,1050,7,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
4,8,1017,1489,9,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,6.857143

## Item Data and Coupon Item Mapping

In [11]:
for j in ['brand', 'brand_type', 'category']:
    print(j,item[j].nunique())

brand 5528
brand_type 2
category 19

In [12]:

for j in ['brand', 'brand_type', 'category']:
    item[j]=item[j].astype('category')
    
coup_item=coup_item.merge(item,on='item_id',how='left')

In [13]:
coup_item.coupon_id.nunique()

1116

In [14]:
coup_item.head(),coup_item.shape

(   coupon_id  item_id brand   brand_type category
 0        105       37    56        Local  Grocery
 1        107       75    56        Local  Grocery
 2        494       76   209  Established  Grocery
 3        522       77   278  Established  Grocery
 4        518       77   278  Established  Grocery, (92663, 5))

## Customer Transaction - Feat Engg

In [15]:
tran=pd.read_csv('/kaggle/input/amexpert/customer_transaction_data.csv')
tran['date']=pd.to_datetime(tran['date'],format='%Y-%m-%d')
tran['date_d']=tran['date'].dt.day.astype('category')
tran['date_m']=tran['date'].dt.month.astype('category')
tran['date_w']=tran['date'].dt.week.astype('category')

# tran.drop('date',axis=1,inplace=True)
tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0,2,1,1
3,2012-01-02,1501,33647,1,67.32,0.00,0.0,2,1,1
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0,2,1,1

In [16]:
tran[tran['quantity']==20]

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w
2257,2012-01-11,632,36682,20,156.73,-21.37,0.0,11,1,2
30413,2012-02-22,1324,9561,20,626.91,-505.80,0.0,22,2,8
35980,2012-02-28,757,25460,20,118.61,-2.49,0.0,28,2,9
60726,2012-03-17,1239,18151,20,142.48,0.00,0.0,17,3,11
82841,2012-03-31,767,37397,20,277.84,0.00,0.0,31,3,13
...,...,...,...,...,...,...,...,...,...,...
1280892,2013-06-16,1483,20360,20,142.48,0.00,0.0,16,6,24
1281796,2013-06-17,811,5873,20,121.11,0.00,0.0,17,6,25
1285318,2013-06-18,132,20360,20,142.48,0.00,0.0,18,6,25
1309218,2013-06-28,362,72255,20,71.24,-35.62,0.0,28,6,26
1317988,2013-06-30,1320,55744,20,237.59,0.00,0.0,30,6,26

In [17]:
tran['discount_bin']=tran['coupon_discount'].apply(lambda x: 0 if x>=0 else 1)
tran['marked_price']=tran['selling_price']-tran['other_discount']-tran['coupon_discount']
tran['disc_percent']=(tran['marked_price']-tran['selling_price'])/tran['selling_price']
tran['price_per_quan']=tran['marked_price']/tran['quantity']
tran['marked_by_sale']=tran['marked_price']/tran['selling_price']

In [18]:
tran.columns

Index(['date', 'customer_id', 'item_id', 'quantity', 'selling_price',
       'other_discount', 'coupon_discount', 'date_d', 'date_m', 'date_w',
       'discount_bin', 'marked_price', 'disc_percent', 'price_per_quan',
       'marked_by_sale'],
      dtype='object')

In [19]:
tran=tran.merge(coup_item,on='item_id',how='left')
tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w,discount_bin,marked_price,disc_percent,price_per_quan,marked_by_sale,coupon_id,brand,brand_type,category
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,7.0,56,Local,Natural Products
1,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,20.0,56,Local,Natural Products
2,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,29.0,56,Local,Natural Products
3,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,0,67.32,0.259966,67.32,1.259966,7.0,56,Local,Natural Products
4,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,0,67.32,0.259966,67.32,1.259966,20.0,56,Local,Natural Products

In [20]:
print(tran.shape)
tran=tran[tran.duplicated()==False]
print(tran.shape,train.shape)
# --drop it

(2657495, 19)
(2650887, 19) (78369, 5)

In [21]:
tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w,discount_bin,marked_price,disc_percent,price_per_quan,marked_by_sale,coupon_id,brand,brand_type,category
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,7.0,56,Local,Natural Products
1,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,20.0,56,Local,Natural Products
2,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,0,45.95,0.303176,45.95,1.303176,29.0,56,Local,Natural Products
3,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,0,67.32,0.259966,67.32,1.259966,7.0,56,Local,Natural Products
4,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,0,67.32,0.259966,67.32,1.259966,20.0,56,Local,Natural Products

In [22]:
tran=tran.merge(tran.groupby(['customer_id','date']).agg({'coupon_id':'count','item_id':'count','disc_percent':sum}).reset_index().rename(columns={'coupon_id':'coupon_aquired','item_id':'item_bought','disc_percent':'tot_disc'}),on=['customer_id','date'],how='left')

In [23]:
tran[(tran['customer_id']==1052) & (tran['coupon_id']==21)]

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w,...,disc_percent,price_per_quan,marked_by_sale,coupon_id,brand,brand_type,category,coupon_aquired,item_bought,tot_disc
184957,2012-04-05,1052,13774,1,35.62,-31.70,0.00,5,4,14,...,0.889949,67.32,1.889949,21.0,56,Local,Grocery,26,32,8.928818
184966,2012-04-05,1052,30293,1,35.26,0.00,0.00,5,4,14,...,0.000000,35.26,1.000000,21.0,56,Local,Grocery,26,32,8.928818
184970,2012-04-05,1052,5207,1,106.86,-21.02,0.00,5,4,14,...,0.196706,127.88,1.196706,21.0,681,Established,Grocery,26,32,8.928818
184973,2012-04-05,1052,9571,1,106.86,-21.02,0.00,5,4,14,...,0.196706,127.88,1.196706,21.0,681,Established,Grocery,26,32,8.928818
184978,2012-04-05,1052,47434,1,106.86,-21.02,0.00,5,4,14,...,0.196706,127.88,1.196706,21.0,681,Established,Grocery,26,32,8.928818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594456,2013-06-22,1052,27522,1,110.07,0.00,0.00,22,6,25,...,0.000000,110.07,1.000000,21.0,634,Established,Grocery,33,34,14.583416
2594461,2013-06-22,1052,36578,1,17.81,-10.33,0.00,22,6,25,...,0.580011,28.14,1.580011,21.0,1337,Established,Grocery,33,34,14.583416
2594464,2013-06-22,1052,47434,1,99.38,-28.50,0.00,22,6,25,...,0.286778,127.88,1.286778,21.0,681,Established,Grocery,33,34,14.583416
2623916,2013-06-28,1052,5859,3,39.18,-30.99,-14.25,28,6,26,...,1.154671,28.14,2.154671,21.0,1337,Established,Grocery,24,30,10.206436
2623931,2013-06-28,1052,18168,3,53.43,-30.99,0.00,28,6,26,...,0.580011,28.14,1.580011,21.0,1337,Established,Grocery,24,30,10.206436

In [24]:
tran['coupon_to_item']=tran['item_bought']-tran['coupon_aquired']

In [25]:
tran[(tran['customer_id']==413) & (tran['coupon_id']==577)]

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w,...,price_per_quan,marked_by_sale,coupon_id,brand,brand_type,category,coupon_aquired,item_bought,tot_disc,coupon_to_item
859832,2012-08-16,413,16887,1,110.07,0.0,0.0,16,8,33,...,110.07,1.0,577.0,408,Established,Pharmaceutical,13,22,2.389521,9

In [26]:
df[(df['customer_id']==413) & (df['coupon_id']==577)]

,campaign_id,coupon_id,customer_id,id,redemption_status,campaign_type,start_date,end_date,diff_d,diff_m,diff_w
121186,18,577,413,109551,NaN,X,2013-08-10,2013-10-04,55.0,1.807019,7.857143

In [27]:
# tran.groupby(['customer_id','coupon_id']).agg({'date':set}).reset_index()
tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,date_d,date_m,date_w,...,price_per_quan,marked_by_sale,coupon_id,brand,brand_type,category,coupon_aquired,item_bought,tot_disc,coupon_to_item
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,...,45.95,1.303176,7.0,56,Local,Natural Products,11,12,3.403242,1
1,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,...,45.95,1.303176,20.0,56,Local,Natural Products,11,12,3.403242,1
2,2012-01-02,1501,26830,1,35.26,-10.69,0.0,2,1,1,...,45.95,1.303176,29.0,56,Local,Natural Products,11,12,3.403242,1
3,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,...,67.32,1.259966,7.0,56,Local,Natural Products,11,12,3.403242,1
4,2012-01-02,1501,54253,1,53.43,-13.89,0.0,2,1,1,...,67.32,1.259966,20.0,56,Local,Natural Products,11,12,3.403242,1

In [28]:
def func(a,b,c):
    if c!=0:
        c=list(c)
        v=0
        for k in c:
            if a<=k and b>k:
                v+=1
        return v
    else:
        return 0
# cc['within']=cc.apply(lambda x: func(x['start_date'],x['end_date'],x['date']),axis=1)

In [29]:
# Magic features
# tran.groupby(['customer_id','date']).agg({'coupon_id':'count','discount_bin':sum,'quantity':sum,'item_id':'count'}).reset_index()

In [30]:
df.head()

,campaign_id,coupon_id,customer_id,id,redemption_status,campaign_type,start_date,end_date,diff_d,diff_m,diff_w
0,13,27,1053,1,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
1,13,116,48,2,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
2,9,635,205,6,0.0,Y,2013-03-11,2013-04-12,32.0,1.051356,4.571429
3,13,644,1050,7,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286
4,8,1017,1489,9,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,6.857143

In [31]:
# cc=df.merge(tran.groupby(['customer_id','date']).agg({'coupon_id':'count','discount_bin':sum,'quantity':sum,'item_id':'count'}).reset_index(),on=['customer_id','date'],how='left')
# cc.sample(10)
tran.columns

Index(['date', 'customer_id', 'item_id', 'quantity', 'selling_price',
       'other_discount', 'coupon_discount', 'date_d', 'date_m', 'date_w',
       'discount_bin', 'marked_price', 'disc_percent', 'price_per_quan',
       'marked_by_sale', 'coupon_id', 'brand', 'brand_type', 'category',
       'coupon_aquired', 'item_bought', 'tot_disc', 'coupon_to_item'],
      dtype='object')

### Best Features

In [32]:
ddf=df.merge(tran.groupby(['customer_id','coupon_id']).agg({'date':set,'discount_bin':sum,'quantity':sum,'item_id':'count',
                                                            'coupon_aquired':sum,'item_bought':'mean','tot_disc':sum}).reset_index(),on=['customer_id','coupon_id'],how='left')
ddf.sample(10)

,campaign_id,coupon_id,customer_id,id,redemption_status,campaign_type,start_date,end_date,diff_d,diff_m,diff_w,date,discount_bin,quantity,item_id,coupon_aquired,item_bought,tot_disc
84326,18,690,1324,15101,NaN,X,2013-08-10,2013-10-04,55.0,1.807019,7.857143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28507,13,511,101,46731,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73553,13,418,733,120807,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27146,13,886,1320,44528,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74144,8,10,1158,121758,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,6.857143,"{2012-05-27 00:00:00, 2012-03-05 00:00:00}",0.0,3.0,2.0,54.0,30.0,9.498264
65266,29,873,659,107145,0.0,Y,2012-10-08,2012-11-30,53.0,1.741309,7.571429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86956,23,1113,911,21767,NaN,Y,2013-10-08,2013-11-15,38.0,1.248486,5.428571,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101305,18,730,1133,58775,NaN,X,2013-08-10,2013-10-04,55.0,1.807019,7.857143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33676,8,86,809,55184,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,6.857143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100142,18,777,1492,55861,NaN,X,2013-08-10,2013-10-04,55.0,1.807019,7.857143,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
ddf['coupon_aquired'].fillna(0)

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
128590      0.0
128591    216.0
128592    391.0
128593     62.0
128594      0.0
Name: coupon_aquired, Length: 128595, dtype: float64

**Features tried but everyone gave 99CV and overfitted LB but only 'within_date' helped me improve**

* Single feature that boosted my score from 86.XX to 93.XX

In [34]:
# def new_df(df):

print(ddf.shape)
ddf['date'].replace(np.nan,0,inplace=True)
ddf['discount_bin'].replace(np.nan,-1,inplace=True)
# ddf['quantity'].replace(np.nan,0,inplace=True)
# ddf['item_id'].replace(np.nan,0,inplace=True)
# df['camp_date_within_count']=ddf.apply(lambda x: func(x['start_date'],x['end_date'],x['date']),axis=1)


# df['bin']=ddf['discount_bin'].apply(lambda x: 1 if x!=-1 else 0)
df['within_date']=ddf['date'].apply(lambda x: len(x) if x !=0 else 0)
# df['C1']=ddf['coupon_aquired'].fillna(0)
# df['C2']=ddf['item_bought'].fillna(0)
# df['C3']=ddf['tot_disc'].fillna(0)




# df['within_date_discount']=ddf['discount_bin'].apply(lambda x: x if x >=0 else 0)
#     df['quantity_date']=ddf['quantity']
# df['item_count']=ddf['item_id']

# -- worked good
    # df['quantity_date']=ddf['quantity']
    # df['item_count']=ddf['item_id']

(128595, 18)

In [35]:
ddf.head()

,campaign_id,coupon_id,customer_id,id,redemption_status,campaign_type,start_date,end_date,diff_d,diff_m,diff_w,date,discount_bin,quantity,item_id,coupon_aquired,item_bought,tot_disc
0,13,27,1053,1,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,0,-1.0,NaN,NaN,NaN,NaN,NaN
1,13,116,48,2,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,0,-1.0,NaN,NaN,NaN,NaN,NaN
2,9,635,205,6,0.0,Y,2013-03-11,2013-04-12,32.0,1.051356,4.571429,0,-1.0,NaN,NaN,NaN,NaN,NaN
3,13,644,1050,7,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,6.714286,0,-1.0,NaN,NaN,NaN,NaN,NaN
4,8,1017,1489,9,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,6.857143,0,-1.0,NaN,NaN,NaN,NaN,NaN

In [37]:
c=['count','nunique']
n=['mean','max','min','sum','std']
nn=['mean','max','min','sum','std','quantile']
agg_c={'date_d':c,'date_m':c,'date_w':c,'quantity':n,'selling_price':n,'other_discount':n,'coupon_discount':n,'item_id':c,'brand':c,
       'category':c,'coupon_id':c,'discount_bin':nn,'marked_price':n,'disc_percent':n,'price_per_quan':n,'brand_type':c,'marked_by_sale':n,
       'coupon_aquired':nn, 'item_bought':nn, 'tot_disc':n, 'coupon_to_item':nn}
trans=tran.groupby(['customer_id']).agg(agg_c)
trans.head()

            date_d         date_m         date_w           quantity         \
             count nunique  count nunique  count nunique       mean    max
customer_id
1             2206      28   2206      12   2206      38   1.133726      5
2              823      19    823      11    823      27   1.117861      5
3             1351      23   1351      12   1351      30   6.861584   6949
4              451      23    451      11    451      21   1.283814      5
5             1594      31   1594      12   1594      51  59.345671  14638

                        ...   tot_disc                                \
            min    sum  ...        max  min           sum        std
customer_id             ...
1             1   2501  ...  30.803886  0.0  29544.403002   6.798600
2             1    920  ...  16.836933  0.0   6242.841276   5.037921
3             1   9270  ...  46.132935  0.0  22281.617402  12.410100
4             1    579  ...  13.875339  0.0   1927.087224   4.159218
5             1  94597  ...  14.588230  0.0   3806.955362   3.228779

            coupon_to_item
                      mean max min    sum       std quantile
customer_id
1                13.276065  23   0  29287  5.671542     14.0
2                 7.814095  20   0   6431  6.097201      6.0
3                13.960030  35   0  18860  9.525554     12.0
4                 6.374723  13   0   2875  4.604267      4.0
5                 2.474279  11   0   3944  2.351349      2.0

[5 rows x 85 columns]

In [38]:
trans.columns=['F_' + '_'.join(col).strip() for col in trans.columns.values]
trans.reset_index(inplace=True)
trans.head()

,customer_id,F_date_d_count,F_date_d_nunique,F_date_m_count,F_date_m_nunique,F_date_w_count,F_date_w_nunique,F_quantity_mean,F_quantity_max,F_quantity_min,...,F_tot_disc_max,F_tot_disc_min,F_tot_disc_sum,F_tot_disc_std,F_coupon_to_item_mean,F_coupon_to_item_max,F_coupon_to_item_min,F_coupon_to_item_sum,F_coupon_to_item_std,F_coupon_to_item_quantile
0,1,2206,28,2206,12,2206,38,1.133726,5,1,...,30.803886,0.0,29544.403002,6.798600,13.276065,23,0,29287,5.671542,14.0
1,2,823,19,823,11,823,27,1.117861,5,1,...,16.836933,0.0,6242.841276,5.037921,7.814095,20,0,6431,6.097201,6.0
2,3,1351,23,1351,12,1351,30,6.861584,6949,1,...,46.132935,0.0,22281.617402,12.410100,13.960030,35,0,18860,9.525554,12.0
3,4,451,23,451,11,451,21,1.283814,5,1,...,13.875339,0.0,1927.087224,4.159218,6.374723,13,0,2875,4.604267,4.0
4,5,1594,31,1594,12,1594,51,59.345671,14638,1,...,14.588230,0.0,3806.955362,3.228779,2.474279,11,0,3944,2.351349,2.0

In [39]:
trans.shape

(1582, 86)

In [40]:
df=df.merge(trans,on=['customer_id'],how='left')


# -------to uncomment

# df.head()

In [41]:
df['campaign_type']=df['campaign_type'].astype('category')

In [42]:
# df['campaign_id']=df['campaign_id'].astype('category')
# df['coupon_id']=df['coupon_id'].astype('category')
# df['customer_id']=df['customer_id'].astype('category')
# df['campaign_type']=df['campaign_type'].astype('category')

# df['within_date_discount'].value_counts()

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128595 entries, 0 to 128594
Data columns (total 97 columns):
campaign_id                  128595 non-null int64
coupon_id                    128595 non-null int64
customer_id                  128595 non-null int64
id                           128595 non-null int64
redemption_status            78369 non-null float64
campaign_type                128595 non-null category
start_date                   128595 non-null datetime64[ns]
end_date                     128595 non-null datetime64[ns]
diff_d                       128595 non-null float64
diff_m                       128595 non-null float64
diff_w                       128595 non-null float64
within_date                  128595 non-null int64
F_date_d_count               128595 non-null int64
F_date_d_nunique             128595 non-null int64
F_date_m_count               128595 non-null int64
F_date_m_nunique             128595 non-null int64
F_date_w_count               128595 non-null int64
F_date_w_nunique             128595 non-null int64
F_quantity_mean              128595 non-null float64
F_quantity_max               128595 non-null int64
F_quantity_min               128595 non-null int64
F_quantity_sum               128595 non-null int64
F_quantity_std               128595 non-null float64
F_selling_price_mean         128595 non-null float64
F_selling_price_max          128595 non-null float64
F_selling_price_min          128595 non-null float64
F_selling_price_sum          128595 non-null float64
F_selling_price_std          128595 non-null float64
F_other_discount_mean        128595 non-null float64
F_other_discount_max         128595 non-null float64
F_other_discount_min         128595 non-null float64
F_other_discount_sum         128595 non-null float64
F_other_discount_std         128595 non-null float64
F_coupon_discount_mean       128595 non-null float64
F_coupon_discount_max        128595 non-null float64
F_coupon_discount_min        128595 non-null float64
F_coupon_discount_sum        128595 non-null float64
F_coupon_discount_std        128595 non-null float64
F_item_id_count              128595 non-null int64
F_item_id_nunique            128595 non-null int64
F_brand_count                128595 non-null int64
F_brand_nunique              128595 non-null int64
F_category_count             128595 non-null int64
F_category_nunique           128595 non-null int64
F_coupon_id_count            128595 non-null int64
F_coupon_id_nunique          128595 non-null int64
F_discount_bin_mean          128595 non-null float64
F_discount_bin_max           128595 non-null int64
F_discount_bin_min           128595 non-null int64
F_discount_bin_sum           128595 non-null int64
F_discount_bin_std           128595 non-null float64
F_discount_bin_quantile      128595 non-null float64
F_marked_price_mean          128595 non-null float64
F_marked_price_max           128595 non-null float64
F_marked_price_min           128595 non-null float64
F_marked_price_sum           128595 non-null float64
F_marked_price_std           128595 non-null float64
F_disc_percent_mean          128595 non-null float64
F_disc_percent_max           128595 non-null float64
F_disc_percent_min           128595 non-null float64
F_disc_percent_sum           128595 non-null float64
F_disc_percent_std           128595 non-null float64
F_price_per_quan_mean        128595 non-null float64
F_price_per_quan_max         128595 non-null float64
F_price_per_quan_min         128595 non-null float64
F_price_per_quan_sum         128595 non-null float64
F_price_per_quan_std         128595 non-null float64
F_brand_type_count           128595 non-null int64
F_brand_type_nunique         128595 non-null int64
F_marked_by_sale_mean        128595 non-null float64
F_marked_by_sale_max         128595 non-null float64
F_marked_by_sale_min         128595 non-null float64
F_marked_by_sale_sum         128595 non-null float64
F_marked_by_sale_std         128595 non-null float64
F_coupon_aquired_mean        128595 non-null float64
F_coupon_aquired_max         128595 non-null int64
F_coupon_aquired_min         128595 non-null int64
F_coupon_aquired_sum         128595 non-null int64
F_coupon_aquired_std         128595 non-null float64
F_coupon_aquired_quantile    128595 non-null float64
F_item_bought_mean           128595 non-null float64
F_item_bought_max            128595 non-null int64
F_item_bought_min            128595 non-null int64
F_item_bought_sum            128595 non-null int64
F_item_bought_std            128595 non-null float64
F_item_bought_quantile       128595 non-null float64
F_tot_disc_mean              128595 non-null float64
F_tot_disc_max               128595 non-null float64
F_tot_disc_min               128595 non-null float64
F_tot_disc_sum               128595 non-null float64
F_tot_disc_std               128595 non-null float64
F_coupon_to_item_mean        128595 non-null float64
F_coupon_to_item_max         128595 non-null int64
F_coupon_to_item_min         128595 non-null int64
F_coupon_to_item_sum         128595 non-null int64
F_coupon_to_item_std         128595 non-null float64
F_coupon_to_item_quantile    128595 non-null float64
dtypes: category(1), datetime64[ns](2), float64(58), int64(36)
memory usage: 95.3 MB

In [44]:
df_train=df[df['redemption_status'].isnull()==False].copy()
df_test=df[df['redemption_status'].isnull()==True].copy()

print(df_train.shape,df_test.shape)

(78369, 97) (50226, 97)

In [45]:
df_train.merge(df_train.drop(['id','redemption_status'],axis=1).groupby('campaign_id').mean().reset_index(),on='campaign_id',how='left')

,campaign_id,coupon_id_x,customer_id_x,id,redemption_status,campaign_type,start_date,end_date,diff_d_x,diff_m_x,...,F_tot_disc_max_y,F_tot_disc_min_y,F_tot_disc_sum_y,F_tot_disc_std_y,F_coupon_to_item_mean_y,F_coupon_to_item_max_y,F_coupon_to_item_min_y,F_coupon_to_item_sum_y,F_coupon_to_item_std_y,F_coupon_to_item_quantile_y
0,13,27,1053,1,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.552230,0.003844,22777.589335,8.323239,7.638486,21.502875,0.021233,17797.572591,5.573441,6.509931
1,13,116,48,2,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.552230,0.003844,22777.589335,8.323239,7.638486,21.502875,0.021233,17797.572591,5.573441,6.509931
2,9,635,205,6,0.0,Y,2013-03-11,2013-04-12,32.0,1.051356,...,33.359071,0.009611,23196.832997,8.582874,7.262253,19.761364,0.028409,16053.545455,5.015611,6.281250
3,13,644,1050,7,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.552230,0.003844,22777.589335,8.323239,7.638486,21.502875,0.021233,17797.572591,5.573441,6.509931
4,8,1017,1489,9,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,...,32.011696,0.004153,21276.398491,8.122024,7.581794,20.875460,0.021459,16666.729905,5.472313,6.557127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78364,8,71,1523,128587,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,...,32.011696,0.004153,21276.398491,8.122024,7.581794,20.875460,0.021459,16666.729905,5.472313,6.557127
78365,30,547,937,128589,0.0,X,2012-11-19,2013-01-04,46.0,1.511325,...,35.776467,0.003922,24342.696046,8.920721,7.579016,20.785527,0.018710,17979.403433,5.513836,6.445493
78366,8,754,1004,128590,0.0,X,2013-02-16,2013-04-05,48.0,1.577034,...,32.011696,0.004153,21276.398491,8.122024,7.581794,20.875460,0.021459,16666.729905,5.472313,6.557127
78367,13,134,71,128592,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.552230,0.003844,22777.589335,8.323239,7.638486,21.502875,0.021233,17797.572591,5.573441,6.509931
78368,13,681,623,128595,0.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.552230,0.003844,22777.589335,8.323239,7.638486,21.502875,0.021233,17797.572591,5.573441,6.509931

In [46]:
df_train=df_train.merge(df_train.drop(['id','redemption_status'],axis=1).groupby('coupon_id').mean().reset_index(),on='coupon_id',how='left')
df_test=df_test.merge(df_test.drop(['id','redemption_status'],axis=1).groupby('coupon_id').mean().reset_index(),on='coupon_id',how='left')

# df_train=df_train.merge(df_train.drop(['id','redemption_status'],axis=1).groupby('coupon_id_x').mean().reset_index(),on='coupon_id_x',how='left')
# df_test=df_test.merge(df_test.drop(['id','redemption_status'],axis=1).groupby('coupon_id_x').mean().reset_index(),on='coupon_id_x',how='left')



# df_train=new_df(df_train)
# print(df_train.shape)

# df_train.head()

In [47]:
df_train[df_train.redemption_status==1]

,campaign_id_x,coupon_id,customer_id_x,id,redemption_status,campaign_type,start_date,end_date,diff_d_x,diff_m_x,...,F_tot_disc_max_y,F_tot_disc_min_y,F_tot_disc_sum_y,F_tot_disc_std_y,F_coupon_to_item_mean_y,F_coupon_to_item_max_y,F_coupon_to_item_min_y,F_coupon_to_item_sum_y,F_coupon_to_item_std_y,F_coupon_to_item_quantile_y
44,13,413,276,72,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,33.993859,0.000709,26329.668196,8.588316,8.431821,22.890000,0.040000,21165.840000,5.953643,7.230000
181,13,960,467,299,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,41.552949,0.002928,24843.989722,10.051581,7.761234,22.821705,0.023256,17768.968992,5.963228,6.348837
217,26,797,214,359,1.0,X,2012-08-12,2012-09-21,40.0,1.314195,...,43.636938,0.000000,39157.851565,10.153123,8.264332,22.096774,0.000000,25078.548387,5.607778,7.419355
237,13,754,1103,387,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,36.048456,0.009408,25913.440478,8.897671,7.772261,22.079470,0.019868,19612.453642,5.682630,6.632450
607,13,21,1457,998,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,37.188686,0.000000,24724.593362,9.156290,7.731749,21.625000,0.022059,18004.727941,5.569303,6.632353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77617,13,982,1408,127381,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,31.569600,0.000507,22105.532576,7.829935,7.356067,19.925110,0.039648,16883.255507,5.067273,6.414097
77729,13,885,781,127565,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,30.375460,0.000000,20081.389206,7.711301,7.621228,20.983402,0.020747,17294.406639,5.379502,6.821577
77830,13,726,407,127701,1.0,X,2013-05-19,2013-07-05,47.0,1.544180,...,32.871010,0.007154,26021.574803,8.497170,7.739586,21.406667,0.020000,18749.953333,5.629960,6.590000
78060,9,705,999,128076,1.0,Y,2013-03-11,2013-04-12,32.0,1.051356,...,34.178960,0.007673,25406.924841,8.652287,8.002850,21.817544,0.026316,19098.743860,5.628999,6.964912
78102,7,392,63,128154,1.0,Y,2013-02-02,2013-03-08,34.0,1.117066,...,32.697383,0.005104,25566.425479,7.962299,7.904796,22.005051,0.020202,22025.297980,5.513581,6.909091

In [48]:
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
plt.figure(figsize=(15,15))

# sns.heatmap(df_train.corr())

In [49]:
from catboost import CatBoostClassifier,Pool, cv
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold,train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score

In [50]:
df_train.columns

Index(['campaign_id_x', 'coupon_id', 'customer_id_x', 'id',
       'redemption_status', 'campaign_type', 'start_date', 'end_date',
       'diff_d_x', 'diff_m_x',
       ...
       'F_tot_disc_max_y', 'F_tot_disc_min_y', 'F_tot_disc_sum_y',
       'F_tot_disc_std_y', 'F_coupon_to_item_mean_y', 'F_coupon_to_item_max_y',
       'F_coupon_to_item_min_y', 'F_coupon_to_item_sum_y',
       'F_coupon_to_item_std_y', 'F_coupon_to_item_quantile_y'],
      dtype='object', length=188)

In [51]:
# X,y=df_train.drop(['id','redemption_status'],axis=1),df_train['redemption_status']
# Xtest=df_test.drop(['id','redemption_status'],axis=1)
# col_to_drop=['id','redemption_status','start_date','end_date','F_quantity_min','F_other_discount_max','F_coupon_discount_max','F_discount_bin_min',
#              'F_disc_percent_min','F_brand_type_nunique','F_marked_by_sale_min','customer_id','campaign_id','coupon_id']

col_to_drop=['id','redemption_status','start_date','end_date']

X,y=df_train.drop(col_to_drop,axis=1),df_train['redemption_status']
Xtest=df_test.drop(col_to_drop,axis=1)

# X,y=df_train.drop(['id','redemption_status','start_date','end_date','customer_id','coupon_id','campaign_id'],axis=1),df_train['redemption_status']
# Xtest=df_test.drop(['id','redemption_status','start_date','end_date','customer_id','coupon_id','campaign_id'],axis=1)

# X=pd.get_dummies(X,drop_first=True)

# from sklearn.ensemble import IsolationForest
# clf = IsolationForest(contamination = 'auto', random_state=1994,behaviour="new",bootstrap=True)
# clf.fit(X)
# df_train['iso_out']=clf.predict(X)
# print(df_train['iso_out'].value_counts())





# print(df_train[df_train['iso_out']==1].shape)
# print(df_train[df_train['iso_out']==-1].shape)

In [52]:
# X['iso_out'].value_counts()
# X=X[X.iso_out==1].copy()
print(X.shape,Xtest.shape)
X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.3,random_state = 1994,stratify=y)

(78369, 184) (50226, 184)

In [53]:
X_train.columns

Index(['campaign_id_x', 'coupon_id', 'customer_id_x', 'campaign_type',
       'diff_d_x', 'diff_m_x', 'diff_w_x', 'within_date_x', 'F_date_d_count_x',
       'F_date_d_nunique_x',
       ...
       'F_tot_disc_max_y', 'F_tot_disc_min_y', 'F_tot_disc_sum_y',
       'F_tot_disc_std_y', 'F_coupon_to_item_mean_y', 'F_coupon_to_item_max_y',
       'F_coupon_to_item_min_y', 'F_coupon_to_item_sum_y',
       'F_coupon_to_item_std_y', 'F_coupon_to_item_quantile_y'],
      dtype='object', length=184)

In [54]:
col=['campaign_id', 'coupon_id', 'customer_id', 'campaign_type','within_date', 'within_date_discount']

In [55]:
# # for j in col:
# X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.3,random_state = 1994,stratify=y)
# print('Dropped->',j)
# X_train.drop(col,inplace=True,axis=1)
# X_val.drop(col,inplace=True,axis=1)
# m=LGBMClassifier(n_estimators=1500,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5,bagging_fraction=0.9)
# # m=RidgeCV(cv=4)
# m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_val, y_val.values)],eval_metric='auc', early_stopping_rounds=100,verbose=200)
# p=m.predict_proba(X_val)[:,-1]

# print(roc_auc_score(y_val,p))
# print('---------------------')

### LGBM

In [56]:
m=LGBMClassifier(n_estimators=1500,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5,bagging_fraction=0.9)
# m=RidgeCV(cv=4)
m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_val, y_val.values)],eval_metric='auc', early_stopping_rounds=100,verbose=200)
p=m.predict_proba(X_val)[:,-1]

print(roc_auc_score(y_val,p))

Training until validation scores don't improve for 100 rounds.
[200]	training's binary_logloss: 0.00633047	training's auc: 0.999969	valid_1's binary_logloss: 0.0229654	valid_1's auc: 0.987345
Early stopping, best iteration is:
[230]	training's binary_logloss: 0.00556215	training's auc: 0.999987	valid_1's binary_logloss: 0.0229254	valid_1's auc: 0.987675
0.9876750360913304

In [57]:
m.feature_importances_

array([ 56, 207,  65,  31,  41,  23,  11, 347,  24,  28,  12,   0,   6,
        38,  63,  36,   0,  53,  44,  37,  64,  37,  59,  64,  65,   0,
        71,  68,  84,  49,   0,  80,  95,  73,   2,  41,  24,  31,  14,
        14,  11, 110, 133,   0,   0, 111,  91,   0,  42,  71,  56,  41,
        47,  58,  75,   0,  28,  45, 102,  72,  59,  33,  70,   5,   0,
        38,  44,   0,  18,  45,  42,  41,   2,  28,  47,  41,  31,  38,
         0,  16,  43,  40,  38,  55,   5,  27,  50,  43,  42,   2,  61,
        48,  42,  23,  49,  22,  22,  11, 237,   8,  46,   3,  53,   3,
        25,  47,  46,   0,  38,  45,  36,  32,  25,  23,  38,  50,   0,
        64,  19,  46,  36,   0,  50,  51,  37,   0,  15,   6,   6,   5,
        33,   2,  27,  48,  39,   0,  43,  47,   0,  26,  39,  38,  18,
        39,  32,  49,   0,  25,  50,  42,  60,  35,  10,  64,   1,   0,
        14,  17,   0,  11,  27,  11,  17,  27,  31,  31,  19,  11,   7,
        75,  17,  25,  15,  28,  16,  54,  17,  15,  30,  28,  44,  19,
        39,  27])

In [58]:
confusion_matrix(y_val,p>0.5)

array([[23260,    32],
       [  160,    59]])

In [59]:
sorted(zip(m.feature_importances_,X_train),reverse=True)

[(347, 'within_date_x'),
 (237, 'within_date_y'),
 (207, 'coupon_id'),
 (133, 'F_discount_bin_mean_x'),
 (111, 'F_discount_bin_sum_x'),
 (110, 'F_coupon_id_nunique_x'),
 (102, 'F_price_per_quan_mean_x'),
 (95, 'F_coupon_discount_sum_x'),
 (91, 'F_discount_bin_std_x'),
 (84, 'F_other_discount_std_x'),
 (80, 'F_coupon_discount_min_x'),
 (75, 'F_item_bought_min_y'),
 (75, 'F_disc_percent_max_x'),
 (73, 'F_coupon_discount_std_x'),
 (72, 'F_price_per_quan_max_x'),
 (71, 'F_other_discount_min_x'),
 (71, 'F_marked_price_max_x'),
 (70, 'F_price_per_quan_std_x'),
 (68, 'F_other_discount_sum_x'),
 (65, 'customer_id_x'),
 (65, 'F_other_discount_mean_x'),
 (64, 'F_selling_price_std_x'),
 (64, 'F_selling_price_max_x'),
 (64, 'F_price_per_quan_std_y'),
 (64, 'F_other_discount_min_y'),
 (63, 'F_quantity_mean_x'),
 (61, 'F_coupon_to_item_sum_x'),
 (60, 'F_price_per_quan_max_y'),
 (59, 'F_selling_price_sum_x'),
 (59, 'F_price_per_quan_min_x'),
 (58, 'F_disc_percent_mean_x'),
 (56, 'campaign_id_x'),
 (56, 'F_marked_price_min_x'),
 (55, 'F_tot_disc_max_x'),
 (54, 'F_tot_disc_min_y'),
 (53, 'F_quantity_sum_x'),
 (53, 'F_date_m_nunique_y'),
 (51, 'F_coupon_discount_sum_y'),
 (50, 'F_tot_disc_std_x'),
 (50, 'F_other_discount_mean_y'),
 (50, 'F_disc_percent_std_y'),
 (50, 'F_coupon_discount_min_y'),
 (49, 'customer_id_y'),
 (49, 'F_disc_percent_max_y'),
 (49, 'F_coupon_discount_mean_x'),
 (48, 'F_discount_bin_mean_y'),
 (48, 'F_coupon_to_item_std_x'),
 (47, 'F_quantity_mean_y'),
 (47, 'F_marked_price_std_x'),
 (47, 'F_discount_bin_std_y'),
 (47, 'F_coupon_aquired_std_x'),
 (46, 'F_quantity_max_y'),
 (46, 'F_other_discount_std_y'),
 (46, 'F_date_d_nunique_y'),
 (45, 'F_quantity_std_y'),
 (45, 'F_marked_by_sale_std_x'),
 (45, 'F_disc_percent_std_x'),
 (44, 'F_quantity_std_x'),
 (44, 'F_marked_by_sale_max_x'),
 (44, 'F_coupon_to_item_min_y'),
 (43, 'F_item_bought_std_x'),
 (43, 'F_discount_bin_sum_y'),
 (43, 'F_coupon_to_item_mean_x'),
 (42, 'F_price_per_quan_mean_y'),
 (42, 'F_marked_price_mean_x'),
 (42, 'F_coupon_to_item_quantile_x'),
 (42, 'F_coupon_to_item_max_x'),
 (42, 'F_coupon_aquired_mean_x'),
 (41, 'diff_d_x'),
 (41, 'F_marked_price_sum_x'),
 (41, 'F_item_id_nunique_x'),
 (41, 'F_coupon_aquired_quantile_x'),
 (41, 'F_coupon_aquired_max_x'),
 (40, 'F_item_bought_quantile_x'),
 (39, 'F_marked_price_std_y'),
 (39, 'F_marked_price_max_y'),
 (39, 'F_discount_bin_max_y'),
 (39, 'F_coupon_to_item_std_y'),
 (38, 'F_tot_disc_mean_x'),
 (38, 'F_selling_price_std_y'),
 (38, 'F_quantity_sum_y'),
 (38, 'F_marked_price_min_y'),
 (38, 'F_marked_by_sale_mean_x'),
 (38, 'F_item_bought_max_x'),
 (38, 'F_date_w_nunique_x'),
 (37, 'F_selling_price_min_x'),
 (37, 'F_selling_price_mean_x'),
 (37, 'F_coupon_discount_std_y'),
 (36, 'F_selling_price_mean_y'),
 (36, 'F_quantity_max_x'),
 (36, 'F_coupon_discount_mean_y'),
 (35, 'F_price_per_quan_min_y'),
 (33, 'F_price_per_quan_sum_x'),
 (33, 'F_category_nunique_y'),
 (32, 'F_selling_price_max_y'),
 (32, 'F_disc_percent_mean_y'),
 (31, 'campaign_type'),
 (31, 'F_item_bought_mean_x'),
 (31, 'F_coupon_aquired_sum_y'),
 (31, 'F_coupon_aquired_std_y'),
 (31, 'F_brand_nunique_x'),
 (30, 'F_coupon_to_item_mean_y'),
 (28, 'F_tot_disc_mean_y'),
 (28, 'F_disc_percent_sum_x'),
 (28, 'F_date_d_nunique_x'),
 (28, 'F_coupon_to_item_max_y'),
 (28, 'F_coupon_aquired_sum_x'),
 (27, 'F_tot_disc_sum_x'),
 (27, 'F_marked_by_sale_std_y'),
 (27, 'F_coupon_to_item_quantile_y'),
 (27, 'F_coupon_id_nunique_y'),
 (27, 'F_coupon_aquired_min_y'),
 (26, 'F_marked_price_mean_y'),
 (25, 'F_selling_price_min_y'),
 (25, 'F_item_bought_std_y'),
 (25, 'F_disc_percent_sum_y'),
 (25, 'F_date_w_nunique_y'),
 (24, 'F_date_d_count_x'),
 (24, 'F_brand_count_x'),
 (23, 'diff_m_x'),
 (23, 'campaign_id_y'),
 (23, 'F_selling_price_sum_y'),
 (22, 'diff_m_y'),
 (22, 'diff_d_y'),
 (19, 'F_other_discount_sum_y'),
 (19, 'F_coupon_to_item_sum_y'),
 (19, 'F_coupon_aquired_quantile_y'),
 (18, 'F_marked_price_sum_y'),
 (18, 'F_marked_by_sale_sum_x'),
 (17, 'F_tot_disc_sum_y'),
 (17, 'F_marked_by_sale_max_y'),
 (17, 'F_item_bought_sum_y'),
 (17, 'F_coupon_aquired_max_y'),
 (16, 'F_tot_disc_max_y'),
 (16, 'F_item_bought_sum_x'),
 (15, 'F_tot_disc_std_y'),
 (15, 'F_item_id_nunique_y'),
 (15, 'F_item_bought_quantile_y'),
 (14, 'F_marked_by_sale_mean_y'),
 (14, 'F_category_nunique_x'),
 (14, 'F_category_count_x'),
 (12, 'F_date_m_count_x'),
 (11, 'diff_w_y'),
 (11, 'diff_w_x'),
 (11, 'F_marked_by_sale_sum_y'),
 (11, 'F_item_bought_mean_y'),
 (11, 'F_coupon_id_count_x'),
 (11, 'F_coupon_aquired_mean_y'),
 (10, 'F_price_per_quan_sum_y'),
 (8, 'F_date_d_count_y'),
 (7, 'F_item_bought_max_y'),
 (6, 'F_date_w_count_x'),
 (6, 'F_brand_nunique_y'),
 (6, 'F_brand_count_y'),
 (5, 'F_tot_disc_min_x'),
 (5, 'F_category_count_y'),
 (5, 'F_brand_type_count_x'),
 (3, 'F_date_w_count_y'),
 (3, 'F_date_m_count_y'),
 (2, 'F_item_id_count_x'),
 (2, 'F_coupon_to_item_min_x'),
 (2, 'F_coupon_id_count_y'),
 (2, 'F_coupon_aquired_min_x'),
 (1, 'F_brand_type_count_y'),
 (0, 'F_quantity_min_y'),
 (0, 'F_quantity_min_x'),
 (0, 'F_other_discount_max_y'),
 (0, 'F_other_discount_max_x'),
 (0, 'F_marked_by_sale_min_y'),
 (0, 'F_marked_by_sale_min_x'),
 (0, 'F_item_id_count_y'),
 (0, 'F_item_bought_min_x'),
 (0, 'F_discount_bin_quantile_y'),
 (0, 'F_discount_bin_quantile_x'),
 (0, 'F_discount_bin_min_y'),
 (0, 'F_discount_bin_min_x'),
 (0, 'F_discount_bin_max_x'),
 (0, 'F_disc_percent_min_y'),
 (0, 'F_disc_percent_min_x'),
 (0, 'F_date_m_nunique_x'),
 (0, 'F_coupon_discount_max_y'),
 (0, 'F_coupon_discount_max_x'),
 (0, 'F_brand_type_nunique_y'),
 (0, 'F_brand_type_nunique_x')]

 ### StratifiedKFold LGBM + Feature Selection

In [60]:
err=[]
y_pred_tot=[]

feature_importance_df = pd.DataFrame()

from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=LGBMClassifier(n_estimators=5000,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)],eval_metric='auc', early_stopping_rounds=200,verbose=200)
    
    preds=m.predict_proba(X_test,num_iteration=m.best_iteration_)[:,-1]
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = X_train.columns
    fold_importance_df["importance"] = m.feature_importances_
    fold_importance_df["fold"] = i + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    
    print("err: ",roc_auc_score(y_test,preds))
    err.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot.append(p)

Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00747445	training's auc: 0.99988	valid_1's binary_logloss: 0.0229257	valid_1's auc: 0.988482
Early stopping, best iteration is:
[180]	training's binary_logloss: 0.00808889	training's auc: 0.999824	valid_1's binary_logloss: 0.0228905	valid_1's auc: 0.988424
err:  0.988423916495522
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00741135	training's auc: 0.999891	valid_1's binary_logloss: 0.0245927	valid_1's auc: 0.983965
[400]	training's binary_logloss: 0.00384672	training's auc: 0.999997	valid_1's binary_logloss: 0.0258373	valid_1's auc: 0.984422
Early stopping, best iteration is:
[222]	training's binary_logloss: 0.00680912	training's auc: 0.999927	valid_1's binary_logloss: 0.0244868	valid_1's auc: 0.984422
err:  0.984422307382863
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00743288	training's auc: 0.999892	valid_1's binary_logloss: 0.0243528	valid_1's auc: 0.984966
Early stopping, best iteration is:
[171]	training's binary_logloss: 0.00832444	training's auc: 0.999814	valid_1's binary_logloss: 0.0243096	valid_1's auc: 0.984892
err:  0.9848916319084217
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00749405	training's auc: 0.999889	valid_1's binary_logloss: 0.0223318	valid_1's auc: 0.988839
Early stopping, best iteration is:
[184]	training's binary_logloss: 0.00797929	training's auc: 0.999848	valid_1's binary_logloss: 0.022242	valid_1's auc: 0.988884
err:  0.9888844191315026
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00731128	training's auc: 0.999909	valid_1's binary_logloss: 0.0242036	valid_1's auc: 0.986294
[400]	training's binary_logloss: 0.0037746	training's auc: 0.999998	valid_1's binary_logloss: 0.0247899	valid_1's auc: 0.987102
Early stopping, best iteration is:
[223]	training's binary_logloss: 0.00669128	training's auc: 0.999944	valid_1's binary_logloss: 0.0240853	valid_1's auc: 0.986555
err:  0.986555440282865
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00730416	training's auc: 0.999893	valid_1's binary_logloss: 0.0256072	valid_1's auc: 0.98502
Early stopping, best iteration is:
[179]	training's binary_logloss: 0.00793566	training's auc: 0.999842	valid_1's binary_logloss: 0.0255711	valid_1's auc: 0.98493
err:  0.9849304482225656
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00745102	training's auc: 0.999896	valid_1's binary_logloss: 0.0237285	valid_1's auc: 0.986723
[400]	training's binary_logloss: 0.00377056	training's auc: 0.999998	valid_1's binary_logloss: 0.0239833	valid_1's auc: 0.988159
Early stopping, best iteration is:
[263]	training's binary_logloss: 0.00591256	training's auc: 0.999973	valid_1's binary_logloss: 0.0235356	valid_1's auc: 0.987526
err:  0.9875258481364639
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00757733	training's auc: 0.999882	valid_1's binary_logloss: 0.0210988	valid_1's auc: 0.990802
[400]	training's binary_logloss: 0.00391952	training's auc: 0.999997	valid_1's binary_logloss: 0.0214466	valid_1's auc: 0.991002
Early stopping, best iteration is:
[240]	training's binary_logloss: 0.00653326	training's auc: 0.999943	valid_1's binary_logloss: 0.0209777	valid_1's auc: 0.991023
err:  0.9910228451652516
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00756639	training's auc: 0.999891	valid_1's binary_logloss: 0.0210582	valid_1's auc: 0.99028
[400]	training's binary_logloss: 0.00388475	training's auc: 0.999998	valid_1's binary_logloss: 0.02164	valid_1's auc: 0.990391
Early stopping, best iteration is:
[223]	training's binary_logloss: 0.00692759	training's auc: 0.99993	valid_1's binary_logloss: 0.0210511	valid_1's auc: 0.990275
err:  0.9902747489290227
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00751655	training's auc: 0.999892	valid_1's binary_logloss: 0.0225152	valid_1's auc: 0.986862
[400]	training's binary_logloss: 0.00386858	training's auc: 0.999998	valid_1's binary_logloss: 0.0226389	valid_1's auc: 0.988136
Early stopping, best iteration is:
[315]	training's binary_logloss: 0.00503574	training's auc: 0.999991	valid_1's binary_logloss: 0.022308	valid_1's auc: 0.987977
err:  0.9879769162516457

In [61]:
np.mean(err,0)

0.9874908521906123

### Feature Selection & Importance

In [62]:
all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
all_features.reset_index(inplace=True)
important_features = list(all_features[0:150]['feature'])
all_features[0:150]

                     feature  importance
0              within_date_x       315.3
1              within_date_y       225.7
2                  coupon_id       205.4
3      F_discount_bin_mean_x       137.5
4    F_price_per_quan_mean_x       104.2
..                       ...         ...
145          F_brand_count_y        13.0
146         F_date_m_count_x        12.3
147       F_category_count_x        11.9
148        F_brand_nunique_y        11.3
149                 diff_w_y        11.2

[150 rows x 2 columns]

### Removing Most Correlated Feats

In [63]:
df1 = X[important_features]
corr_matrix = df1.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
high_cor = [column for column in upper.columns if any(upper[column] > 0.98)]
print(len(high_cor))
print(high_cor)

32
['F_coupon_aquired_std_x', 'F_marked_by_sale_max_x', 'F_coupon_aquired_quantile_x', 'F_marked_by_sale_std_x', 'F_item_bought_max_x', 'F_item_bought_mean_x', 'F_marked_by_sale_mean_x', 'F_marked_price_sum_x', 'F_marked_by_sale_std_y', 'F_date_d_count_x', 'F_marked_by_sale_max_y', 'F_item_bought_sum_x', 'F_disc_percent_sum_y', 'F_coupon_aquired_sum_y', 'F_price_per_quan_sum_y', 'F_marked_by_sale_sum_x', 'F_item_bought_quantile_y', 'F_coupon_to_item_sum_y', 'F_item_id_nunique_y', 'F_item_bought_max_y', 'F_item_bought_std_y', 'diff_m_x', 'F_marked_price_sum_y', 'F_item_bought_mean_y', 'F_marked_by_sale_mean_y', 'diff_m_y', 'F_date_d_count_y', 'F_brand_count_y', 'F_date_m_count_x', 'F_category_count_x', 'F_brand_nunique_y', 'diff_w_y']

In [64]:
features = [i for i in important_features if i not in high_cor]
print(len(features))
print(features)

118
['within_date_x', 'within_date_y', 'coupon_id', 'F_discount_bin_mean_x', 'F_price_per_quan_mean_x', 'F_discount_bin_sum_x', 'F_coupon_discount_sum_x', 'F_other_discount_std_x', 'F_price_per_quan_min_x', 'F_coupon_id_nunique_x', 'F_discount_bin_std_x', 'customer_id_x', 'F_coupon_discount_std_x', 'F_other_discount_min_x', 'F_coupon_discount_mean_x', 'F_coupon_discount_min_x', 'F_marked_price_std_x', 'F_price_per_quan_max_x', 'F_other_discount_mean_x', 'F_marked_price_min_x', 'F_disc_percent_max_x', 'F_tot_disc_std_x', 'F_selling_price_max_x', 'F_disc_percent_mean_x', 'F_quantity_mean_x', 'F_marked_price_max_x', 'F_price_per_quan_std_y', 'F_coupon_to_item_std_x', 'F_price_per_quan_max_y', 'F_item_bought_std_x', 'F_item_bought_min_y', 'F_date_w_nunique_x', 'campaign_id_x', 'F_quantity_std_x', 'F_price_per_quan_std_x', 'F_coupon_discount_min_y', 'F_quantity_std_y', 'F_selling_price_mean_x', 'F_disc_percent_max_y', 'F_quantity_max_x', 'F_tot_disc_max_x', 'F_selling_price_std_x', 'F_disc_percent_std_y', 'F_other_discount_min_y', 'F_date_m_nunique_y', 'F_price_per_quan_mean_y', 'F_other_discount_sum_x', 'customer_id_y', 'F_coupon_aquired_mean_x', 'F_discount_bin_mean_y', 'F_coupon_aquired_max_x', 'F_discount_bin_max_y', 'F_tot_disc_min_y', 'F_disc_percent_std_x', 'F_quantity_sum_x', 'diff_d_x', 'F_marked_price_mean_x', 'F_item_bought_quantile_x', 'F_coupon_to_item_mean_x', 'F_quantity_max_y', 'F_tot_disc_mean_x', 'F_coupon_to_item_max_x', 'campaign_type', 'F_quantity_mean_y', 'F_other_discount_std_y', 'F_marked_price_min_y', 'F_brand_nunique_x', 'F_coupon_to_item_min_y', 'F_other_discount_mean_y', 'F_marked_price_max_y', 'F_selling_price_sum_x', 'F_disc_percent_sum_x', 'F_date_d_nunique_y', 'F_disc_percent_mean_y', 'F_coupon_to_item_sum_x', 'F_item_id_nunique_x', 'F_discount_bin_sum_y', 'F_selling_price_min_x', 'F_tot_disc_sum_x', 'F_coupon_discount_std_y', 'F_coupon_discount_mean_y', 'F_coupon_to_item_std_y', 'F_category_nunique_y', 'F_selling_price_std_y', 'F_coupon_aquired_min_y', 'F_coupon_aquired_sum_x', 'F_quantity_sum_y', 'F_coupon_discount_sum_y', 'F_marked_price_mean_y', 'F_price_per_quan_min_y', 'F_price_per_quan_sum_x', 'F_coupon_to_item_max_y', 'F_coupon_to_item_mean_y', 'F_coupon_id_nunique_y', 'diff_d_y', 'F_discount_bin_std_y', 'F_selling_price_max_y', 'F_selling_price_min_y', 'F_coupon_aquired_quantile_y', 'F_selling_price_mean_y', 'F_coupon_to_item_quantile_x', 'F_brand_count_x', 'F_coupon_to_item_quantile_y', 'F_other_discount_sum_y', 'F_marked_price_std_y', 'F_selling_price_sum_y', 'F_date_w_nunique_y', 'F_tot_disc_mean_y', 'F_tot_disc_sum_y', 'F_category_nunique_x', 'F_tot_disc_max_y', 'F_tot_disc_std_y', 'F_item_bought_sum_y', 'F_coupon_aquired_mean_y', 'F_coupon_aquired_max_y', 'F_date_d_nunique_x', 'F_coupon_aquired_std_y', 'campaign_id_y']

In [65]:
X=X[features]
Xtest=Xtest[features]

### StratifiedKFold LGBM

In [66]:
err=[]
y_pred_tot=[]

# feature_importance_df = pd.DataFrame()

from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=LGBMClassifier(n_estimators=5000,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)],eval_metric='auc', early_stopping_rounds=200,verbose=200)
    
    preds=m.predict_proba(X_test,num_iteration=m.best_iteration_)[:,-1]
    
#     fold_importance_df = pd.DataFrame()
#     fold_importance_df["feature"] = X_train.columns
#     fold_importance_df["importance"] = m.feature_importances_
#     fold_importance_df["fold"] = i + 1
#     feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    
    print("err: ",roc_auc_score(y_test,preds))
    err.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot.append(p)

Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00760738	training's auc: 0.999871	valid_1's binary_logloss: 0.0221997	valid_1's auc: 0.989158
[400]	training's binary_logloss: 0.00387871	training's auc: 0.999998	valid_1's binary_logloss: 0.0232418	valid_1's auc: 0.988809
Early stopping, best iteration is:
[216]	training's binary_logloss: 0.00713625	training's auc: 0.999906	valid_1's binary_logloss: 0.0221546	valid_1's auc: 0.989197
err:  0.9891967140225699
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00745603	training's auc: 0.999898	valid_1's binary_logloss: 0.0234688	valid_1's auc: 0.985541
[400]	training's binary_logloss: 0.00383453	training's auc: 0.999997	valid_1's binary_logloss: 0.0246998	valid_1's auc: 0.98579
Early stopping, best iteration is:
[220]	training's binary_logloss: 0.00694068	training's auc: 0.999926	valid_1's binary_logloss: 0.0234348	valid_1's auc: 0.985751
err:  0.9857508839533357
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00748728	training's auc: 0.999896	valid_1's binary_logloss: 0.0239866	valid_1's auc: 0.985753
[400]	training's binary_logloss: 0.0038295	training's auc: 0.999998	valid_1's binary_logloss: 0.0249127	valid_1's auc: 0.986236
Early stopping, best iteration is:
[216]	training's binary_logloss: 0.00701723	training's auc: 0.999929	valid_1's binary_logloss: 0.0239174	valid_1's auc: 0.985938
err:  0.985937908012393
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.0076477	training's auc: 0.999881	valid_1's binary_logloss: 0.023222	valid_1's auc: 0.988563
[400]	training's binary_logloss: 0.00394566	training's auc: 0.999997	valid_1's binary_logloss: 0.0238521	valid_1's auc: 0.989228
Early stopping, best iteration is:
[220]	training's binary_logloss: 0.00708177	training's auc: 0.999922	valid_1's binary_logloss: 0.0230687	valid_1's auc: 0.988851
err:  0.9888508959511055
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00770249	training's auc: 0.99987	valid_1's binary_logloss: 0.0247274	valid_1's auc: 0.986347
[400]	training's binary_logloss: 0.00395297	training's auc: 0.999997	valid_1's binary_logloss: 0.0251111	valid_1's auc: 0.98721
Early stopping, best iteration is:
[309]	training's binary_logloss: 0.00522173	training's auc: 0.999983	valid_1's binary_logloss: 0.0245799	valid_1's auc: 0.986942
err:  0.986941839046389
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00749255	training's auc: 0.999891	valid_1's binary_logloss: 0.0259766	valid_1's auc: 0.984816
Early stopping, best iteration is:
[146]	training's binary_logloss: 0.00944181	training's auc: 0.999685	valid_1's binary_logloss: 0.0257994	valid_1's auc: 0.984925
err:  0.9849251550888187
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00764126	training's auc: 0.999896	valid_1's binary_logloss: 0.0227266	valid_1's auc: 0.986894
[400]	training's binary_logloss: 0.00392944	training's auc: 0.999998	valid_1's binary_logloss: 0.0230837	valid_1's auc: 0.988517
Early stopping, best iteration is:
[265]	training's binary_logloss: 0.00599972	training's auc: 0.999975	valid_1's binary_logloss: 0.0225054	valid_1's auc: 0.988064
err:  0.9880639834007326
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00773802	training's auc: 0.999882	valid_1's binary_logloss: 0.0214837	valid_1's auc: 0.990615
[400]	training's binary_logloss: 0.00401301	training's auc: 0.999997	valid_1's binary_logloss: 0.022181	valid_1's auc: 0.990194
Early stopping, best iteration is:
[244]	training's binary_logloss: 0.00656984	training's auc: 0.999947	valid_1's binary_logloss: 0.0212068	valid_1's auc: 0.990913
err:  0.9909134537344824
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.00763537	training's auc: 0.999897	valid_1's binary_logloss: 0.0215233	valid_1's auc: 0.98971
[400]	training's binary_logloss: 0.00393094	training's auc: 0.999997	valid_1's binary_logloss: 0.0219487	valid_1's auc: 0.990105
Early stopping, best iteration is:
[266]	training's binary_logloss: 0.00599911	training's auc: 0.99997	valid_1's binary_logloss: 0.0213878	valid_1's auc: 0.990026
err:  0.9900259716429182
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.0077246	training's auc: 0.999871	valid_1's binary_logloss: 0.0233345	valid_1's auc: 0.985836
[400]	training's binary_logloss: 0.00396991	training's auc: 0.999997	valid_1's binary_logloss: 0.0231112	valid_1's auc: 0.987635
Early stopping, best iteration is:
[262]	training's binary_logloss: 0.00615103	training's auc: 0.999961	valid_1's binary_logloss: 0.0229569	valid_1's auc: 0.986753
err:  0.9867533201671532

In [67]:
np.mean(err,0)

0.9877360125019898

In [68]:
s['redemption_status']=np.mean(y_pred_tot,0)
s.head()

   id  redemption_status
0   3           0.227818
1   4           0.050355
2   5           0.001558
3   8           0.000030
4  10           0.000120

In [69]:
sum(s.redemption_status>0.5)

91

In [70]:
s.to_csv('AV_amex_lgb_folds_v28.csv',index=False)
s.shape

(50226, 2)

### Catboost

In [71]:
print(X.shape,Xtest.shape)

X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.25,random_state = 1994,stratify=y)
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices

(78369, 118) (50226, 118)

array([62])

In [72]:
m=CatBoostClassifier(n_estimators=2500,random_state=1994,learning_rate=0.03,eval_metric='AUC')
# m=RidgeCV(cv=4)
m.fit(X_train,y_train,eval_set=[(X_val, y_val.values)], early_stopping_rounds=300,verbose=200,cat_features=categorical_features_indices)
p=m.predict_proba(X_val)[:,-1]
print(roc_auc_score(y_val,p))


# 0:	test: 0.7072835	best: 0.7072835 (0)	total: 94.6ms	remaining: 3m 56s
# 200:	test: 0.9846892	best: 0.9846892 (200)	total: 6.49s	remaining: 1m 14s
# 400:	test: 0.9857940	best: 0.9857940 (400)	total: 13.1s	remaining: 1m 8s
# 600:	test: 0.9860940	best: 0.9860980 (590)	total: 19.6s	remaining: 1m 1s
# 800:	test: 0.9861993	best: 0.9862259 (737)	total: 25.9s	remaining: 54.9s
# 1000:	test: 0.9862786	best: 0.9863095 (882)	total: 32.2s	remaining: 48.2s
# 1200:	test: 0.9863154	best: 0.9863839 (1056)	total: 38.5s	remaining: 41.6s
# 1400:	test: 0.9863995	best: 0.9864448 (1265)	total: 44.8s	remaining: 35.1s
# Stopped by overfitting detector  (300 iterations wait)

# bestTest = 0.9864447541
# bestIteration = 1265

# Shrink model to first 1266 iterations.
# 0.9864447540507506

0:	test: 0.6327550	best: 0.6327550 (0)	total: 111ms	remaining: 4m 36s
200:	test: 0.9858867	best: 0.9858867 (200)	total: 10.9s	remaining: 2m 4s
400:	test: 0.9872119	best: 0.9872119 (400)	total: 20.6s	remaining: 1m 47s
600:	test: 0.9878884	best: 0.9878980 (596)	total: 30.2s	remaining: 1m 35s
800:	test: 0.9882603	best: 0.9882603 (800)	total: 39.9s	remaining: 1m 24s
1000:	test: 0.9883727	best: 0.9884171 (923)	total: 49.7s	remaining: 1m 14s
1200:	test: 0.9884913	best: 0.9884913 (1200)	total: 59.5s	remaining: 1m 4s
1400:	test: 0.9885530	best: 0.9885935 (1292)	total: 1m 9s	remaining: 54.4s
1600:	test: 0.9886945	best: 0.9887141 (1569)	total: 1m 19s	remaining: 44.5s
1800:	test: 0.9887081	best: 0.9887342 (1713)	total: 1m 28s	remaining: 34.5s
2000:	test: 0.9886637	best: 0.9887342 (1713)	total: 1m 38s	remaining: 24.6s
Stopped by overfitting detector  (300 iterations wait)

bestTest = 0.9887341549
bestIteration = 1713

Shrink model to first 1714 iterations.
0.9887341549285807

### StratifiedKFold CatBoost

In [73]:
errCB=[]
y_pred_tot_cb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=15,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=CatBoostClassifier(n_estimators=5000,random_state=1994,eval_metric='AUC',learning_rate=0.03)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_cb: ",roc_auc_score(y_test,preds))
    errCB.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot_cb.append(p)

0:	test: 0.6119047	test1: 0.5973074	best: 0.5973074 (0)	total: 61.4ms	remaining: 5m 6s
200:	test: 0.9900179	test1: 0.9858570	best: 0.9858570 (200)	total: 12.2s	remaining: 4m 51s
400:	test: 0.9941425	test1: 0.9872331	best: 0.9872488 (392)	total: 24.1s	remaining: 4m 35s
600:	test: 0.9963987	test1: 0.9879112	best: 0.9879349 (599)	total: 36.3s	remaining: 4m 25s
800:	test: 0.9977695	test1: 0.9881005	best: 0.9881951 (711)	total: 47.8s	remaining: 4m 10s
1000:	test: 0.9985384	test1: 0.9885224	best: 0.9885460 (993)	total: 59.3s	remaining: 3m 57s
1200:	test: 0.9991091	test1: 0.9887195	best: 0.9887353 (1183)	total: 1m 10s	remaining: 3m 44s
1400:	test: 0.9994799	test1: 0.9887274	best: 0.9888063 (1380)	total: 1m 22s	remaining: 3m 32s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9888062644
bestIteration = 1380

Shrink model to first 1381 iterations.
err_cb:  0.9888062643913825
0:	test: 0.6114484	test1: 0.5944863	best: 0.5944863 (0)	total: 80.7ms	remaining: 6m 43s
200:	test: 0.9902400	test1: 0.9858136	best: 0.9858215 (199)	total: 12.6s	remaining: 5m
400:	test: 0.9941476	test1: 0.9870202	best: 0.9870754 (380)	total: 24.8s	remaining: 4m 44s
600:	test: 0.9964631	test1: 0.9876747	best: 0.9877338 (577)	total: 37s	remaining: 4m 30s
800:	test: 0.9977868	test1: 0.9878008	best: 0.9879664 (741)	total: 49.2s	remaining: 4m 17s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9879664385
bestIteration = 741

Shrink model to first 742 iterations.
err_cb:  0.9879664385073967
0:	test: 0.6114360	test1: 0.5878190	best: 0.5878190 (0)	total: 60.8ms	remaining: 5m 4s
200:	test: 0.9901635	test1: 0.9824819	best: 0.9824819 (200)	total: 12.5s	remaining: 4m 59s
400:	test: 0.9942532	test1: 0.9835347	best: 0.9836057 (398)	total: 24.8s	remaining: 4m 44s
600:	test: 0.9964770	test1: 0.9841261	best: 0.9841537 (598)	total: 36.9s	remaining: 4m 29s
800:	test: 0.9978391	test1: 0.9844455	best: 0.9844652 (799)	total: 49s	remaining: 4m 16s
1000:	test: 0.9986330	test1: 0.9844179	best: 0.9844731 (868)	total: 1m 1s	remaining: 4m 6s
1200:	test: 0.9992083	test1: 0.9845914	best: 0.9846032 (1127)	total: 1m 14s	remaining: 3m 54s
1400:	test: 0.9995138	test1: 0.9845559	best: 0.9847175 (1343)	total: 1m 26s	remaining: 3m 41s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9847175346
bestIteration = 1343

Shrink model to first 1344 iterations.
err_cb:  0.984717534618175
0:	test: 0.6131721	test1: 0.5849584	best: 0.5849584 (0)	total: 70.8ms	remaining: 5m 53s
200:	test: 0.9904716	test1: 0.9809994	best: 0.9810467 (194)	total: 12.4s	remaining: 4m 56s
400:	test: 0.9943757	test1: 0.9818550	best: 0.9819339 (387)	total: 24.8s	remaining: 4m 44s
600:	test: 0.9965805	test1: 0.9820955	best: 0.9822493 (492)	total: 37s	remaining: 4m 30s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9822493139
bestIteration = 492

Shrink model to first 493 iterations.
err_cb:  0.9822493139450524
0:	test: 0.6150387	test1: 0.5526113	best: 0.5526113 (0)	total: 59.9ms	remaining: 4m 59s
200:	test: 0.9900983	test1: 0.9835702	best: 0.9835820 (197)	total: 12.5s	remaining: 4m 58s
400:	test: 0.9940711	test1: 0.9855692	best: 0.9856047 (394)	total: 24.7s	remaining: 4m 42s
600:	test: 0.9963286	test1: 0.9856914	best: 0.9858176 (550)	total: 36.9s	remaining: 4m 30s
800:	test: 0.9979016	test1: 0.9858176	best: 0.9859083 (660)	total: 49.1s	remaining: 4m 17s
1000:	test: 0.9987082	test1: 0.9859438	best: 0.9860305 (924)	total: 1m 1s	remaining: 4m 4s
1200:	test: 0.9992316	test1: 0.9858176	best: 0.9861015 (1126)	total: 1m 13s	remaining: 3m 52s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.986101473
bestIteration = 1126

Shrink model to first 1127 iterations.
err_cb:  0.9861014730467148
0:	test: 0.6112565	test1: 0.5933587	best: 0.5933587 (0)	total: 60.1ms	remaining: 5m
200:	test: 0.9898830	test1: 0.9871424	best: 0.9871424 (200)	total: 12.7s	remaining: 5m 3s
400:	test: 0.9940344	test1: 0.9889285	best: 0.9889324 (398)	total: 25.1s	remaining: 4m 47s
600:	test: 0.9964296	test1: 0.9894608	best: 0.9895160 (593)	total: 37.1s	remaining: 4m 31s
800:	test: 0.9978072	test1: 0.9899379	best: 0.9900759 (745)	total: 49.3s	remaining: 4m 18s
1000:	test: 0.9986201	test1: 0.9904031	best: 0.9904071 (996)	total: 1m 1s	remaining: 4m 5s
1200:	test: 0.9991602	test1: 0.9904268	best: 0.9905253 (1165)	total: 1m 13s	remaining: 3m 53s
1400:	test: 0.9994913	test1: 0.9906870	best: 0.9907422 (1338)	total: 1m 26s	remaining: 3m 41s
1600:	test: 0.9997023	test1: 0.9905569	best: 0.9907777 (1479)	total: 1m 38s	remaining: 3m 29s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9907776867
bestIteration = 1479

Shrink model to first 1480 iterations.
err_cb:  0.9907776866542599
0:	test: 0.6127886	test1: 0.5710757	best: 0.5710757 (0)	total: 61.1ms	remaining: 5m 5s
200:	test: 0.9902041	test1: 0.9815081	best: 0.9815081 (200)	total: 12.7s	remaining: 5m 3s
400:	test: 0.9940966	test1: 0.9829551	best: 0.9830063 (396)	total: 25s	remaining: 4m 46s
600:	test: 0.9962402	test1: 0.9839960	best: 0.9840591 (598)	total: 37.9s	remaining: 4m 37s
800:	test: 0.9975798	test1: 0.9849896	best: 0.9850132 (798)	total: 50s	remaining: 4m 22s
1000:	test: 0.9985384	test1: 0.9857072	best: 0.9858097 (982)	total: 1m 2s	remaining: 4m 8s
1200:	test: 0.9990732	test1: 0.9860778	best: 0.9862434 (1107)	total: 1m 14s	remaining: 3m 54s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9862434154
bestIteration = 1107

Shrink model to first 1108 iterations.
err_cb:  0.986243415449642
0:	test: 0.6122243	test1: 0.5823246	best: 0.5823246 (0)	total: 60.3ms	remaining: 5m 1s
200:	test: 0.9898265	test1: 0.9876313	best: 0.9876313 (200)	total: 12.5s	remaining: 4m 59s
400:	test: 0.9940180	test1: 0.9889561	best: 0.9889561 (400)	total: 24.7s	remaining: 4m 42s
600:	test: 0.9963722	test1: 0.9893109	best: 0.9895317 (563)	total: 36.8s	remaining: 4m 29s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9895317478
bestIteration = 563

Shrink model to first 564 iterations.
err_cb:  0.9895317477841213
0:	test: 0.6095623	test1: 0.6112592	best: 0.6112592 (0)	total: 60.4ms	remaining: 5m 1s
200:	test: 0.9903689	test1: 0.9817328	best: 0.9817407 (193)	total: 12.6s	remaining: 5m
400:	test: 0.9942400	test1: 0.9827540	best: 0.9830182 (314)	total: 24.8s	remaining: 4m 44s
600:	test: 0.9965155	test1: 0.9827264	best: 0.9830891 (464)	total: 36.9s	remaining: 4m 30s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9830891398
bestIteration = 464

Shrink model to first 465 iterations.
err_cb:  0.9830891398290383
0:	test: 0.7866621	test1: 0.7751924	best: 0.7751924 (0)	total: 72.6ms	remaining: 6m 2s
200:	test: 0.9901299	test1: 0.9880981	best: 0.9881464 (196)	total: 12.5s	remaining: 4m 59s
400:	test: 0.9941884	test1: 0.9887582	best: 0.9887582 (395)	total: 24.7s	remaining: 4m 42s
600:	test: 0.9964802	test1: 0.9889554	best: 0.9892010 (546)	total: 36.8s	remaining: 4m 29s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9892009596
bestIteration = 546

Shrink model to first 547 iterations.
err_cb:  0.9892009595569294
0:	test: 0.7869482	test1: 0.7854320	best: 0.7854320 (0)	total: 72.4ms	remaining: 6m 1s
200:	test: 0.9905100	test1: 0.9865203	best: 0.9865284 (199)	total: 12.4s	remaining: 4m 56s
400:	test: 0.9944663	test1: 0.9875105	best: 0.9875105 (400)	total: 24.6s	remaining: 4m 42s
600:	test: 0.9965177	test1: 0.9880538	best: 0.9880820 (599)	total: 36.6s	remaining: 4m 27s
800:	test: 0.9979102	test1: 0.9883557	best: 0.9884121 (798)	total: 48.7s	remaining: 4m 15s
1000:	test: 0.9987120	test1: 0.9885811	best: 0.9886375 (916)	total: 1m	remaining: 4m 2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9886374614
bestIteration = 916

Shrink model to first 917 iterations.
err_cb:  0.9886374613601236
0:	test: 0.7903844	test1: 0.7276009	best: 0.7276009 (0)	total: 72.5ms	remaining: 6m 2s
200:	test: 0.9902605	test1: 0.9899416	best: 0.9900543 (187)	total: 12.5s	remaining: 4m 59s
400:	test: 0.9941594	test1: 0.9902314	best: 0.9905534 (265)	total: 24.6s	remaining: 4m 41s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9905533552
bestIteration = 265

Shrink model to first 266 iterations.
err_cb:  0.9905533552292632
0:	test: 0.7868431	test1: 0.7687021	best: 0.7687021 (0)	total: 74.5ms	remaining: 6m 12s
200:	test: 0.9901178	test1: 0.9866048	best: 0.9866089 (198)	total: 13s	remaining: 5m 9s
400:	test: 0.9941407	test1: 0.9883436	best: 0.9883919 (379)	total: 25s	remaining: 4m 46s
600:	test: 0.9963732	test1: 0.9889474	best: 0.9889554 (599)	total: 37.1s	remaining: 4m 31s
800:	test: 0.9977589	test1: 0.9894062	best: 0.9894183 (782)	total: 49s	remaining: 4m 16s
1000:	test: 0.9985785	test1: 0.9895069	best: 0.9896397 (940)	total: 1m	remaining: 4m 3s
1200:	test: 0.9991652	test1: 0.9894908	best: 0.9896679 (1091)	total: 1m 13s	remaining: 3m 51s
1400:	test: 0.9995029	test1: 0.9898450	best: 0.9898892 (1378)	total: 1m 25s	remaining: 3m 39s
1600:	test: 0.9997230	test1: 0.9897765	best: 0.9899053 (1462)	total: 1m 37s	remaining: 3m 26s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9899053323
bestIteration = 1462

Shrink model to first 1463 iterations.
err_cb:  0.9899053323029365
0:	test: 0.7827333	test1: 0.8105217	best: 0.8105217 (0)	total: 73.8ms	remaining: 6m 8s
200:	test: 0.9902735	test1: 0.9843750	best: 0.9843750 (200)	total: 12.4s	remaining: 4m 55s
400:	test: 0.9942054	test1: 0.9862345	best: 0.9862466 (399)	total: 24.6s	remaining: 4m 41s
600:	test: 0.9963466	test1: 0.9867900	best: 0.9868785 (588)	total: 36.9s	remaining: 4m 30s
800:	test: 0.9976859	test1: 0.9873092	best: 0.9873173 (792)	total: 48.9s	remaining: 4m 16s
1000:	test: 0.9985313	test1: 0.9881021	best: 0.9881625 (996)	total: 1m 1s	remaining: 4m 3s
1200:	test: 0.9991063	test1: 0.9881867	best: 0.9883155 (1176)	total: 1m 13s	remaining: 3m 51s
1400:	test: 0.9994644	test1: 0.9883114	best: 0.9883316 (1230)	total: 1m 25s	remaining: 3m 39s
1600:	test: 0.9997094	test1: 0.9885328	best: 0.9885328 (1600)	total: 1m 37s	remaining: 3m 26s
1800:	test: 0.9998486	test1: 0.9885851	best: 0.9886737 (1680)	total: 1m 49s	remaining: 3m 14s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9886736862
bestIteration = 1680

Shrink model to first 1681 iterations.
err_cb:  0.988673686244204
0:	test: 0.7843707	test1: 0.7980422	best: 0.7980422 (0)	total: 71.9ms	remaining: 5m 59s
200:	test: 0.9904086	test1: 0.9825396	best: 0.9825436 (199)	total: 12.4s	remaining: 4m 56s
400:	test: 0.9942174	test1: 0.9846004	best: 0.9846286 (391)	total: 24.6s	remaining: 4m 42s
600:	test: 0.9965116	test1: 0.9856831	best: 0.9857636 (594)	total: 36.7s	remaining: 4m 28s
800:	test: 0.9978408	test1: 0.9863513	best: 0.9863955 (780)	total: 48.3s	remaining: 4m 13s
1000:	test: 0.9986157	test1: 0.9869751	best: 0.9869953 (994)	total: 59.7s	remaining: 3m 58s
1200:	test: 0.9991666	test1: 0.9872488	best: 0.9872810 (1179)	total: 1m 11s	remaining: 3m 45s
1400:	test: 0.9994972	test1: 0.9875749	best: 0.9876030 (1383)	total: 1m 23s	remaining: 3m 34s
1600:	test: 0.9997211	test1: 0.9879170	best: 0.9881021 (1590)	total: 1m 36s	remaining: 3m 24s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.9881021381
bestIteration = 1590

Shrink model to first 1591 iterations.
err_cb:  0.9881021380731582

In [74]:
np.mean(errCB,0)

0.9876370631328267

In [75]:
s['redemption_status']=np.mean(y_pred_tot_cb,0)
s.head()

   id  redemption_status
0   3           0.252884
1   4           0.037019
2   5           0.000079
3   8           0.000003
4  10           0.000004

In [76]:
sum(s.redemption_status>0.5)

130

In [77]:
s.to_csv('AV_amex_cb_folds_v28.csv',index=False)
s.shape

(50226, 2)

In [78]:
s['redemption_status']=np.mean(y_pred_tot_cb,0)*0.25+np.mean(y_pred_tot,0)*0.75
s.head()

   id  redemption_status
0   3           0.234085
1   4           0.047021
2   5           0.001188
3   8           0.000023
4  10           0.000091

In [79]:
sum(s.redemption_status>0.5)

94

In [80]:
s.to_csv('AV_amex_stack2_folds_v28.csv',index=False)
# s.shape

In [81]:
print(X.shape,Xtest.shape)

X=pd.get_dummies(X,drop_first=True)
Xtest=pd.get_dummies(Xtest,drop_first=True)

X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.25,random_state = 1994,stratify=y)
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices

(78369, 118) (50226, 118)

array([], dtype=int64)

### StratifiedKFold XGB

In [82]:
from xgboost import XGBClassifier

errxgb=[]
y_pred_tot_xgb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=XGBClassifier(n_estimators=5000,random_state=1994,eval_metric='auc',learning_rate=0.03)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=200,verbose=200)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_xgb: ",roc_auc_score(y_test,preds))
    errxgb.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot_xgb.append(p)

[0]	validation_0-auc:0.970545	validation_1-auc:0.964131
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986395	validation_1-auc:0.985703
[400]	validation_0-auc:0.991917	validation_1-auc:0.987985
[600]	validation_0-auc:0.994723	validation_1-auc:0.988128
[800]	validation_0-auc:0.996379	validation_1-auc:0.988373
[1000]	validation_0-auc:0.997494	validation_1-auc:0.988447
[1200]	validation_0-auc:0.998273	validation_1-auc:0.988554
[1400]	validation_0-auc:0.998826	validation_1-auc:0.988685
[1600]	validation_0-auc:0.999204	validation_1-auc:0.988794
[1800]	validation_0-auc:0.999456	validation_1-auc:0.988842
Stopping. Best iteration:
[1652]	validation_0-auc:0.999276	validation_1-auc:0.988932

err_xgb:  0.9889320573352247
[0]	validation_0-auc:0.965959	validation_1-auc:0.962824
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986413	validation_1-auc:0.982582
[400]	validation_0-auc:0.992214	validation_1-auc:0.985179
[600]	validation_0-auc:0.99491	validation_1-auc:0.985379
[800]	validation_0-auc:0.996621	validation_1-auc:0.985564
[1000]	validation_0-auc:0.99769	validation_1-auc:0.98592
[1200]	validation_0-auc:0.998423	validation_1-auc:0.985936
[1400]	validation_0-auc:0.998937	validation_1-auc:0.986047
Stopping. Best iteration:
[1364]	validation_0-auc:0.998863	validation_1-auc:0.986137

err_xgb:  0.9861372827168597
[0]	validation_0-auc:0.970555	validation_1-auc:0.967999
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986528	validation_1-auc:0.981649
[400]	validation_0-auc:0.991881	validation_1-auc:0.983764
[600]	validation_0-auc:0.994496	validation_1-auc:0.984553
[800]	validation_0-auc:0.996109	validation_1-auc:0.985107
[1000]	validation_0-auc:0.99731	validation_1-auc:0.985456
[1200]	validation_0-auc:0.998126	validation_1-auc:0.985823
[1400]	validation_0-auc:0.998674	validation_1-auc:0.986093
[1600]	validation_0-auc:0.999095	validation_1-auc:0.986058
[1800]	validation_0-auc:0.999375	validation_1-auc:0.986314
[2000]	validation_0-auc:0.99958	validation_1-auc:0.986531
Stopping. Best iteration:
[1960]	validation_0-auc:0.999536	validation_1-auc:0.986566

err_xgb:  0.9865660265503589
[0]	validation_0-auc:0.970466	validation_1-auc:0.965301
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986434	validation_1-auc:0.983185
[400]	validation_0-auc:0.992026	validation_1-auc:0.986868
[600]	validation_0-auc:0.994626	validation_1-auc:0.987965
[800]	validation_0-auc:0.9963	validation_1-auc:0.988671
[1000]	validation_0-auc:0.997404	validation_1-auc:0.989467
[1200]	validation_0-auc:0.998216	validation_1-auc:0.989994
[1400]	validation_0-auc:0.998743	validation_1-auc:0.990264
[1600]	validation_0-auc:0.999118	validation_1-auc:0.990425
[1800]	validation_0-auc:0.999403	validation_1-auc:0.990453
[2000]	validation_0-auc:0.999581	validation_1-auc:0.99067
[2200]	validation_0-auc:0.999702	validation_1-auc:0.990696
[2400]	validation_0-auc:0.999789	validation_1-auc:0.990801
[2600]	validation_0-auc:0.999851	validation_1-auc:0.990786
Stopping. Best iteration:
[2575]	validation_0-auc:0.999845	validation_1-auc:0.990808

err_xgb:  0.9908075910595443
[0]	validation_0-auc:0.968788	validation_1-auc:0.958936
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.98655	validation_1-auc:0.983691
[400]	validation_0-auc:0.992088	validation_1-auc:0.985906
[600]	validation_0-auc:0.994867	validation_1-auc:0.98613
Stopping. Best iteration:
[587]	validation_0-auc:0.994746	validation_1-auc:0.986176

err_xgb:  0.9861760990310038
[0]	validation_0-auc:0.970737	validation_1-auc:0.968319
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.98652	validation_1-auc:0.98271
[400]	validation_0-auc:0.991923	validation_1-auc:0.985576
[600]	validation_0-auc:0.994755	validation_1-auc:0.986333
[800]	validation_0-auc:0.996499	validation_1-auc:0.986278
Stopping. Best iteration:
[601]	validation_0-auc:0.994771	validation_1-auc:0.98639

err_xgb:  0.9863895887587953
[0]	validation_0-auc:0.969916	validation_1-auc:0.975778
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986259	validation_1-auc:0.98477
[400]	validation_0-auc:0.991985	validation_1-auc:0.98612
[600]	validation_0-auc:0.994625	validation_1-auc:0.987184
[800]	validation_0-auc:0.996332	validation_1-auc:0.987656
[1000]	validation_0-auc:0.997489	validation_1-auc:0.988119
[1200]	validation_0-auc:0.99829	validation_1-auc:0.988535
[1400]	validation_0-auc:0.998815	validation_1-auc:0.98859
[1600]	validation_0-auc:0.999165	validation_1-auc:0.988583
Stopping. Best iteration:
[1537]	validation_0-auc:0.999067	validation_1-auc:0.98869

err_xgb:  0.988690337560783
[0]	validation_0-auc:0.969981	validation_1-auc:0.975388
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.985744	validation_1-auc:0.988193
[400]	validation_0-auc:0.991458	validation_1-auc:0.991245
[600]	validation_0-auc:0.994347	validation_1-auc:0.991642
[800]	validation_0-auc:0.996157	validation_1-auc:0.991875
[1000]	validation_0-auc:0.99739	validation_1-auc:0.992134
[1200]	validation_0-auc:0.998245	validation_1-auc:0.992436
[1400]	validation_0-auc:0.998807	validation_1-auc:0.992344
Stopping. Best iteration:
[1217]	validation_0-auc:0.998306	validation_1-auc:0.992489

err_xgb:  0.9924890432131439
[0]	validation_0-auc:0.970583	validation_1-auc:0.970265
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986366	validation_1-auc:0.984431
[400]	validation_0-auc:0.991906	validation_1-auc:0.987939
[600]	validation_0-auc:0.994764	validation_1-auc:0.9888
[800]	validation_0-auc:0.996347	validation_1-auc:0.989565
[1000]	validation_0-auc:0.997447	validation_1-auc:0.990132
[1200]	validation_0-auc:0.998235	validation_1-auc:0.990594
[1400]	validation_0-auc:0.998721	validation_1-auc:0.990541
[1600]	validation_0-auc:0.999099	validation_1-auc:0.990568
[1800]	validation_0-auc:0.999356	validation_1-auc:0.990644
Stopping. Best iteration:
[1790]	validation_0-auc:0.999342	validation_1-auc:0.990688

err_xgb:  0.9906876133612811
[0]	validation_0-auc:0.970924	validation_1-auc:0.966983
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.986653	validation_1-auc:0.981828
[400]	validation_0-auc:0.992075	validation_1-auc:0.984977
[600]	validation_0-auc:0.994624	validation_1-auc:0.985932
[800]	validation_0-auc:0.996222	validation_1-auc:0.986431
[1000]	validation_0-auc:0.99748	validation_1-auc:0.987061
[1200]	validation_0-auc:0.998282	validation_1-auc:0.987553
[1400]	validation_0-auc:0.998759	validation_1-auc:0.988066
[1600]	validation_0-auc:0.999118	validation_1-auc:0.988152
[1800]	validation_0-auc:0.999375	validation_1-auc:0.988338
[2000]	validation_0-auc:0.999564	validation_1-auc:0.988512
[2200]	validation_0-auc:0.999704	validation_1-auc:0.988587
Stopping. Best iteration:
[2067]	validation_0-auc:0.99961	validation_1-auc:0.988608

err_xgb:  0.9886083920087011

In [83]:
np.mean(errxgb,0)

0.9885484031595695

In [84]:
s['redemption_status']=np.mean(y_pred_tot_xgb,0)
s.head()

   id  redemption_status
0   3           0.227403
1   4           0.025819
2   5           0.000053
3   8           0.000006
4  10           0.000009

In [85]:
s.to_csv('AV_amex_xgb_folds_v28.csv',index=False)
s.shape

(50226, 2)

## Stacking & Ensemble

In [86]:
s['redemption_status']=(np.mean(y_pred_tot_cb,0)+np.mean(y_pred_tot,0)+np.mean(y_pred_tot_xgb,0))/3
s.head()

   id  redemption_status
0   3           0.236035
1   4           0.037731
2   5           0.000563
3   8           0.000013
4  10           0.000044

In [87]:
s.to_csv('AV_amex_stack3_folds_v28.csv',index=False)

In [88]:
# s['redemption_status']=np.mean(y_pred_tot_xgb,0)*0.5+np.mean(y_pred_tot,0)*0.5
# s.head()

In [89]:
# s.to_csv('AV_amex_stack4_folds_v17.csv',index=False)
# s.shape